Multi-port scans to zgrab2?

I'm experimenting with multi port scans and am running into a semi-minor, semi-annoying issue when taking results and feeing them into zgrab2

Default output from zmap in this scenario is: ip,port
However, zgrab2's input format is ip,hostname,tag,port

zmap's --output-fields doesn't seem to help as `--output-fields='saddr,,,port'` ignores the blanks and just gives me ip,port again. Nor are there any fields I can put in place to output empty columns.

Is my only option to really write a processor between zmap and zgrab2 in order to add 2 blanks columns in the simple use case?

This feels quite valid to me, especially since so many people are using ZMap and ZGrab2 in a pipeline like you say. I'd say the change should happen on ZGrab2 to accept `ip, port` as an input, IMO. I don't know if we'd want to support custom output formats in ZMap itself and ip + port feels pretty sane for ZGrab2 to accept.

We currently support:
```txt
10.0.0.1
domain.com
10.0.0.1, domain.com
10.0.0.1, domain.com, tag
10.0.0.1, domain.com, tag, 1234
10.0.0.1, , tag
10.0.0.1, , , 5678
, domain.com, tag
192.168.0.0/24, , tag
```

I don't see what would stop us from adding:
```txt
ip, port
```
Since a number alone isn't a valid domain (domain names can be solely numbers, but TLD's cannot - Source RFC 3696 Sec. 2. So if the second field is strictly an integer, we should infer the user wants to use a port, I'd think).

@zakird Do you agree with this rationale? If so, I'll open a ticket on ZGrab2 and implement the fix.

I’m good with it. Port before name makes a lot of sense to me especially
since we can disambiguate to your point. The other thing we could do would
be to accept ip:port as the first parameter.

On Mon, Mar 30, 2026 at 8:30 PM Phillip Stephens ***@***.***>
wrote:

> *phillip-stephens* left a comment (zmap/zmap#960)
> <https://github.com/zmap/zmap/issues/960#issuecomment-4159617242>
>
> This feels quite valid to me, especially since so many people are using
> ZMap and ZGrab2 in a pipeline like you say. I'd say the change should
> happen on ZGrab2 to accept ip, port as an input, IMO. I don't know if
> we'd want to support custom output formats in ZMap itself and ip + port
> feels pretty sane for ZGrab2 to accept.
>
> We currently support:
>
> 10.0.0.1domain.com
> 10.0.0.1, domain.com
> 10.0.0.1, domain.com, tag
> 10.0.0.1, domain.com, tag, 1234
> 10.0.0.1, , tag
> 10.0.0.1, , , 5678
> , domain.com, tag192.168.0.0/24, , tag
>
> I don't see what would stop us from adding:
>
> ip, port
>
> Since a number alone isn't a valid domain (domain names can be solely
> numbers, but TLD's cannot - Source RFC 3696 Sec. 2. So if the second field
> is strictly an integer, we should infer the user wants to use a port, I'd
> think).
>
> @zakird <https://github.com/zakird> Do you agree with this rationale? If
> so, I'll open a ticket on ZGrab2 and implement the fix.
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/zmap/zmap/issues/960?email_source=notifications&email_token=AABREUDTRWA4GPXA6YHGZRD4TM3WHA5CNFSNUABFM5UWIORPF5TWS5BNNB2WEL2JONZXKZKDN5WW2ZLOOQXTIMJVHE3DCNZSGQZKM4TFMFZW63VHNVSW45DJN5XKKZLWMVXHJLDGN5XXIZLSL5RWY2LDNM#issuecomment-4159617242>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AABREUHO6PY75VN6F5BN7I34TM3WHAVCNFSM6AAAAACTLX4O42VHI2DSMVQWIX3LMV43OSLTON2WKQ3PNVWWK3TUHM2DCNJZGYYTOMRUGI>
> .
> You are receiving this because you were mentioned.Message ID:
> ***@***.***>
>


Honestly, zmap already does custom outputs, so I was thinking that a blank column might be easiest valid path, rather than zgrab2 trying to support yet another input format.

That's fair, we do already support a number of output formats.

The one gotcha I'm finding as I'm investigating doing this in ZMap into this is ICMP msgs. If a host responds with ICMP to a TCP SYN, we'll log an empty source port in the response in ZMap.

```shell
$ sudo zmap -p 443 -N 10 -B 100K --output-fields="saddr,sport,classification"
...
164.49.73.74,443,synack
104.223.49.68,443,rst
173.30.237.213,,icmp     <--- empty source port field
65.8.44.78,443,synack
...
```

I'd be concerned of having the occasional empty port being an issue regardless of if we handled this in ZMap and ZGrab2. Any thoughts on best way to handle this case?

Addressed by #969. 